/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

html {
	font-size: 10px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background: var(--lightPurple-2);
	overflow-x: hidden;
	overflow-y: hidden;
	visibility: hidden;
}

section {
	padding: 80px 0;
}

@media only screen and (max-width: 767px) {
	section {
		padding: 35px 0;
	}
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

:root {
	--purple-1: #635E87;
	--purple-2: #a29ae3;
	--lightPurple-1: #d6d4e8;
	--lightPurple-2: #eeecff;
	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo {
	width: 145px;
	/* padding-left: 0rem; */
}

@media only screen and (max-width: 768px) {
	.logo {
		width: 100px;
	}
}

h1,
h2,
h3,
h4 {
	font-family: Poppins;
}

p {
	font-family: Raleway;
	font-weight: 400;
	line-height: 1.4em;
	font-size: 1.8rem;
}

a {
	display: inline-block;
	text-decoration: none;
}

/* End global styles */
/* Nav Styles */
.nav {
	padding: 2rem 0;
}

.nav__icon,
.nav__close,
.nav__bgOverlay {
	display: none;
}

.nav__wrapper {
	display: flex;
	justify-content: space-between;
}

.nav__list li {
	display: inline-block;
	margin: 0 1rem;
}

.nav__list .nav__link {
	font-size: 1.8rem;
	font-family: Poppins;
	color: var(--black-2);
	padding: 0.5rem;
}

.nav__list li:hover .nav__link {
	color: var(--purple-1);
}

@media only screen and (max-width: 768px) {
	.nav {
		position: relative;
		/* overflow-x: scroll; */
	}

	.nav__icon {
		display: block;
	}

	.nav__icon svg,
	.nav__close svg {
		pointer-events: none;
		height: 30px;
		width: 30px;
	}

	.nav__close {
		display: block;
		position: absolute;
		color: var(--black-1);
		right: 1.8rem;
		top: 2rem;
		cursor: pointer;
	}

	.nav__list {
		z-index: 1000;
		position: absolute;
		left: 100%;
		top: 0;
		height: 100vh;
		width: 60%;
		background: var(--lightPurple-1);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 2rem;
		transform: translate(0%);
		overflow: hidden;
		transition: 0.3s ease-in transform;
		border-radius: 20rem 0 0 0rem;
	}

	.nav__list.show {
		transform: translate(-100%);
	}

	.nav__list li {
		display: block;
		text-align: right;
		margin-bottom: 2rem;
	}

	.nav__list a {
		font-size: 1.6rem;
	}

	.nav__bgOverlay {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000;
		height: 100vh;
		width: 100%;
		background: rgba(18, 24, 14, 0.808);
		display: none;
	}

	.nav__bgOverlay.active {
		display: block;
	}
}

/* End Nav Styles */
/* Global Button Styles */
.btn {
	color: var(--purple-1);
	font-family: Poppins;
	font-weight: 500;
	border-radius: 8px;
	font-size: 1.4rem;
	padding: 1.2rem 2rem;
}

.primary-btn {
	color: var(--white-1);
	background: var(--purple-1);
}

.primary-btn:hover {
	background-color: #7d7aa2;
	color: white;
	transition: .3s;
}

@media only screen and (min-width: 700px) {
	.btn {
		padding: 1.3rem 2rem;
		font-size: 2rem;
	}
}

/* hero section styles */
.hero__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 5rem;
}

.hero__left__wrapper {
	max-width: 350px;
}

.hero__imgWrapper {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
}

.hero__heading {
	font-family: Poppins;
	font-weight: 600;
	line-height: 1.4em;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
}

.hero__info {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	color: var(--black-2);
}

.button__wrapper {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.hero__wrapper {
		flex-direction: row;
		gap: 0;
	}

	.hero__left {
		flex: 3;
	}

	.hero__right {
		flex: 4;
	}

	.hero__heading {
		font-size: 3.6rem;
		margin-bottom: 2rem;
		text-align: left;
	}

	.hero__info {
		margin-bottom: 2rem;
		text-align: left;
		font-size: 1.8rem;
	}

	.button__wrapper {
		text-align: left;
	}

	.hero__imgWrapper {
		max-width: none;
		width: 90%;
	}
}

@media only screen and (max-width: 900px) {

	.hero__left,
	.hero__right {
		flex: 1;
	}
}

/* end hero section styles */
/* info section styles */
.info__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	flex-direction: column;
}

.info__imgWrapper {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
}

.info__imgWrapper img {
	border-radius: 1rem;
}

.info__right__wrapper {
	max-width: 400px;
}

.info__right__heading1 {
	font-family: Poppins;
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
	line-height: 1.2em;
	text-align: left;
	color: var(--black-1);
}

.info__right__heading2 {
	font-family: Poppins;
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 1rem;
	line-height: 1.2em;
	text-align: left;
	color: var(--black-1);
	padding-left: 1rem;
}

.info__para {
	font-weight: 400;
	max-width: 470px;
	padding-left: 1.3rem;
	margin-bottom: 1.5rem;
	font-size: 1.4rem;
	color: var(--black-2);
}

@media only screen and (min-width: 768px) {
	.info__wrapper {
		flex-direction: row;
		gap: 0;
		max-width: 80%;
		margin: 0 auto;

	}

	.info__imgWrapper img {
		border-radius: 1.5rem;
		width: 350px;

	}

	.info__right {
		flex: 3;
	}

	.info__left {
		flex: 3;
	}

	.info__right__heading1 {
		font-size: 3.6rem;
		text-align: left;
		margin-bottom: 3rem;

	}

	.info__right__heading2 {
		font-size: 2rem;
		font-weight: 500;
	}

	.info__right__wrapper {
		max-width: none;
		margin: 0 auto;
	}

	.info__para {
		font-size: 1.6rem;
		margin-bottom: 3rem;
	}


}

@media only screen and (max-width: 900px) {

	.info__left,
	.right__right {
		flex: 1;
	}
}

/* end info section styles */

/* what do you like styles */
.likeGrid__title {
	font-family: Poppins;
	font-size: 1.8rem;
	padding-bottom: .5rem;
	font-weight: 600;
	color: var(--black-1);
	margin: 0 auto;
	line-height: 1.4em;
}

.likeGrid__wrapper {
	display: grid;
	grid-template-columns: repeat(1, minmax(200px, 1fr));
	gap: 1rem;
	margin: 0 auto;
	justify-content: center;
}

.likeGrid__item {
	display: flex;
	flex-direction: row;
	padding: 2rem;
	gap: 1rem;
	background-color: var(--lightPurple-1);
	border-radius: 1rem;
}

.likeGrid__item__img {
	flex: 4;
	max-width: 60px;
	cursor: pointer;
}

.likeGrid__item__info {
	flex: 5;
}

.likeGrid__item__title {
	font-size: 1.6rem;
	line-height: 1.3em;
	font-weight: 500;
	color: var(--black-1);
	margin-bottom: 0.5rem;
}

.linkGrid__item__para {
	font-weight: 400;
	font-size: 1.4rem;
	color: var(--black-2);
}

@media only screen and (min-width: 768px) {
	.likeGrid__title {
		font-size: 3.6rem;
		margin-bottom: 3rem;
		text-align: left;
	}

	.likeGrid__wrapper {
		grid-template-columns: repeat(2, minmax(350px, 1fr));
		gap: 3rem;
	}

	.likeGrid__item {
		flex-direction: row;
		padding: 1.5rem;
		gap: 1rem;
		border-radius: 1.5rem;
	}

	.likeGrid__item__title {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.linkGrid__item__para {
		font-size: 1.6rem;
	}

	.likeGrid__item__img {
		max-width: 70px;
	}
}

/* end what do you like styles  */
/* most popular dishes styles */
.mpdishes__title {
	font-family: Poppins;
	font-size: 1.8rem;
	padding-bottom: .5rem;
	font-weight: 600;
	color: var(--black-1);
	margin: 0 auto;
	line-height: 1.4em;
	text-align: left;
}
.mpdishes__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: 1rem;
	margin: 0 auto;
	justify-content: center;
}
.mpdishes__item {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: .8rem;
	background-color: var(--lightPurple-1);
	border-radius: 1rem;
	height: fit-content;
	margin: 0 auto;
}

.mpdishes__item__img img {
	object-fit: cover;
	/* border-radius: 12px; */
	transition: all .5s;
}
.mpdishes__item:hover img,
.mpdishes__item:focus img {
	transform: scale(1.2);
}
.mpdishes__item__img {
	flex: 4;
	overflow: hidden;
	border-radius: 12px;
	cursor: pointer;
}
.mpdishes__item__info {
	flex: 5;
}

.mpdishes__item__para {
	font-weight: 400;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	color: var(--black-2);
}
.mpdishes__item__heading {
	font-size: 1.8rem;
	line-height: 1.3em;
	font-weight: 500;
	color: var(--black-1);
	margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
	.mpdishes__title {
		font-size: 3.6rem;
		margin-bottom: 3rem;
		text-align: left;
	}

	.mpdishes__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 3rem;
	}
	.mpdishes__item {
		flex-direction: row;
		padding: 1.5rem;
		border-radius: 12px;
		gap: 1rem;
	}

	.mpdishes__item__heading {
		font-size: 2rem;
	}

	.mpdishes__item__info {
		margin-top: .8rem;
	}

	.mpdishes__item__heading {
		font-size: 2rem;
	}

	.mpdishes__item__para {
		font-size: 1.6rem;
	}

}

.rating {
	cursor: pointer;
}

.rating__star {
	color: var(--purple-1);
	font-size: 1.5rem;
}

/*  */
.menu__title {
	font-family: Poppins;
	font-size: 2rem;
	padding-bottom: 1rem;
	font-weight: 600;
	color: var(--black-1);
	line-height: 1.4em;
}
.specials__title {
	font-family: Poppins;
	font-size: 1.6rem;
	padding-bottom: .5rem;
	font-weight: 600;
	color: var(--black-1);
	line-height: 1.4em;
}
.specials__about{
	font-weight: 400;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	color: var(--black-2);
}
.specials__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	margin: 0 auto;
	justify-content: center;
}

.specials__item {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1.5rem;
	background-color: var(--lightPurple-1);
	border-radius: 1rem;
	height: fit-content;
	margin: 0 auto;
}

.specials__img img {
	object-fit: cover;
	/* border-radius: 12px; */
	transition: all .5s;
}

.specials__item:hover img,
.specials__item:focus img {
	transform: scale(1.2);
}

.specials__img {
	flex: 4;
	overflow: hidden;
	border-radius: 12px;
	cursor: pointer;

}

.specials__info {
	flex: 5;
}

.specials__item__para {
	font-weight: 400;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	color: var(--black-2);
}

.specials__item__title {
	font-size: 1.8rem;
	line-height: 1.3em;
	font-weight: 500;
	color: var(--black-1);
	margin-bottom: 0.5rem;

}

@media only screen and (min-width: 768px) {
	.menu__title {
		font-size: 3.6rem;
		margin-bottom: 3rem;
	}

	.specials__title {
		font-size: 2rem;
	}

	.specials__about {
		margin-bottom: .5rem;
		font-weight: 400;
		margin-bottom: 1rem;
		font-size: 1.6rem;
		color: var(--black-2);
	}

	.specials__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 3rem;
	}

	.specials__item__info {
		margin-top: .8rem;
	}

	.specials__item__title {
		font-size: 2rem;
	}

	.specials__item__para {
		font-size: 1.6rem;
	}

}

/* @media only screen and (min-width: 390px) {
	.mpdishes__item {
		flex-direction: row;
	}

	.mpdishes__item__heading {
		font-size: 2rem;
	} */



/*  */

/* end most popular dishes styles */
/* Chef Styles */
.chef__title {
	font-family: Poppins;
	font-size: 1.8rem;
	padding-bottom: .5rem;
	font-weight: 600;
	color: var(--black-1);
	margin: 0 auto;
	line-height: 1.4em;
}

.chef__para {
	font-weight: 500;
	max-width: 470px;
	margin-bottom: 1.5rem;
	font-size: 1.4rem;
	color: var(--black-2);
}

.chef__wrapper {
	display: grid;
	grid-template-columns: repeat(1, minmax(250px, 1fr));
	gap: 1rem;
	margin: 0 auto;
	justify-content: center;
	columns: 2;
}

.chef__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.chef__img {
	flex: 4;
	overflow: hidden;
	border-radius: 12px;
	background-color: var(--lightPurple-1);

}

.chef__img img {
	object-fit: cover;
}

.chef__info {
	justify-content: center;
	text-align: center;
}

.chef__name {
	font-size: 1.8rem;
	line-height: 1.3em;
	font-weight: 500;
	color: var(--black-1);
	padding-top: 1rem;
	margin-bottom: .5rem;
}

.about__chef {
	font-weight: 500;
	margin-bottom: .8rem;
	font-size: 1.4rem;
	color: var(--black-2);
}

.chef__img img {
	transition: all .5s;
}

.chef__item:hover img,
.chef__item:focus img {
	transform: scale(1.1);
}

.chef__social {
	cursor: default;
}

.social__icon a {
	font-size: 1.5rem;
	padding: 0 .5rem;
	color: var(--black-1);
}

.social__icon a:hover {
	color: var(--purple-1);
	transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
	.chef__title {
		font-size: 3.6rem;
		margin-bottom: .5rem;
		text-align: left;
	}

	.chef__para {
		font-size: 1.6rem;
		max-width: 350px;
	}

	.chef__name {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.4em;
		margin-bottom: 1rem;
	}

	.about__chef {
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 698px) {
	.chef__wrapper {
		grid-template-columns: repeat(2, minmax(250px, 1fr));

	}

}

@media only screen and (min-width: 1175px) {
	.chef__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	}
}

/* Chef Styles End*/
/* newsletter_section */
.newsletter__wrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--purple-2);
	border-radius: 8px;
	padding: 1.5rem;
	gap: 2rem;
	margin-bottom: 4rem;
}

.newsletter__heading {
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 1.3rem;
}

.newsletter__para {
	font-size: 1.4rem;
	color: var(--black-2);
	font-weight: 500;
}

.newsletter__rightwrapper form {
	position: relative;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.newsletter__rightwrapper label {
	width: 100%;
}

.newsletter__rightwrapper input {
	width: 100%;
	font-size: 1.4rem;
	padding: 1.5rem 1rem;
	border: none;
}

.newsletter__rightwrapper button[type='submit'] {
	background-color: var(--purple-1);
	color: var(--white-1);
	border: none;
	font-size: 1.4rem;
	padding: 0 2rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.newsletter__rightwrapper input::placeholder {
	color: rgb(168, 166, 166);
}

@media only screen and (min-width: 768px) {
	.newsletter__wrapper {
		flex-direction: row;
		padding: 5rem;
		align-items: center;
	}

	.newsletter__rightwrapper,
	.newsletter__leftwrapper {
		flex: 1;
	}

	.newsletter__heading {
		font-size: 3.6rem;
		margin-bottom: 2rem;
	}

	.newsletter__para {
		font-size: 1.8rem;
		max-width: 400px;
	}

	.newsletter__rightwrapper {
		max-width: 450px;
		border-radius: 12px;
	}

	.newsletter__rightwrapper input {
		font-size: 1.8rem;
		padding: 2rem;
	}

	.newsletter__rightwrapper button[type='submit'] {
		font-size: 1.8rem;
		padding: 0 3rem;
	}
}

/*End newsletter_section */
/* Footer styles */
footer {
	background: var(--lightPurple-1);
	padding-top: 5rem;
	padding-bottom: 2rem;
	border-radius: 18px 18px 0 0;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
}

.footer__copyright {
	max-width: 250px;
	text-align: center;
}

.copyright__text {
	font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
	.footer__wrapper {
		flex-direction: row;
		width: 100%;
		align-items: center;
		justify-content: center;
		/* justify-content: space-between; */
	}

	.copyright__text {
		font-size: 1.4rem;
		text-align: right;

	}

	.footer__copyright {
		max-width: 100%;
		flex: 1;
	}

	.footer__socials {
		flex: 1;
		text-align: center;
	}

	.footer__logo {
		flex: 1;
	}

}

/*End Footer styles */
/* Menu styles */

/*End Menu styles */
/* store info section */
.storeInfo__wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.storeInfo__item{
	background-color: var(--lightPurple-1);
	width: 150px;
	text-align: center;
	padding: 20px 30px;
	border-radius: 12px;
}
.storeInfo__icon{
	width: 30px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.storeInfo__title{
	font-size: 1.4rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	color: var(--black-1);
	font-family: Poppins;
}
.storeInfo__text{
	font-family: Raleway;
	font-size: 1.4rem;
	color: var(--black-2);
}
@media only screen and (min-width: 768px) {
	.storeInfo__wrapper {
		gap: 2rem;
	}
	.storeInfo__item {
		min-width: 200px;
		padding: 30px 12px;
	}
	.storeInfo__icon {
		width: 47px;
		margin-bottom: 2.5rem;
	}

	.storeInfo__title {
		font-size: 1.8rem;
		margin-bottom: 1rem;
		line-height: 2rem;
	}

	.storeInfo__text {
		font-size: 1.6rem;
	}

}
/* contact form */
/* end contact form */
#form{
	padding: 5rem 0;
}
.form__title{
	font-weight: 600;
	font-size: 1.8rem;
	color: var(--black-1);

}
.form__wrapper{
	padding: 3rem 0;
}
.form__wrapper form{
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.form__group label{
	font-size: 1.6rem;
	font-family: Poppins;
	font-weight: 500;
	color: var(--black-2);
}
.form__group input,
.form__group textarea,
.form__group select{
	width: 100%;
	border: none;
	background-color: var(--lightPurple-1);
	font-size: 1.4rem;
	font-family: Raleway;
	color: var(--black-2);
	padding: 1.5rem;
	margin-top: .5rem;
	font-weight: 600;
	border-radius: 8px;
}
.form__group textarea{
	resize: vertical;
}
.form__wrapper button[type="submit"]{
	width: max-content;
	border: none;
	padding: 1rem 4rem;
	font-weight: 500;
	letter-spacing: .1rem;
}
@media only screen and (min-width: 768px) {
	.form__title{
		font-size: 3.6rem;
	}
	.form__wrapper{
		padding: 5rem 0;
	}
	.form__wrapper form{
		grid-template-columns: 1fr 1fr;
	}
	.form__group__full{
		grid-column: 1/3;
	}
	.form__group label{
		font-size: 1.8rem;
	}
	.form__group input,
	.form__group textarea,
	.form__group select {
		font-size: 1.8rem;
		padding: 2rem;
		margin-top: 1.5rem;
	}

}
/* store info section end */
/* ourStory section*/
.ourStory__wrapper{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.ourStory__title,
.ourGoals__title{
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--black-1);
	margin-bottom: 1rem;
}
.ourStory__text,
.ourGoals__text{
	font-size: 1.4rem;
	line-height: 1.4em;
	color: var(--black-2);
}
.sign__img{
	width: 10rem;
}
@media only screen and (min-width: 768px) {
	.ourStory__wrapper{
		flex-direction: row;
		gap: 3rem;
	}
	.ourStory__info,
	.ourStory__img{
		flex: 1;
	}
	.ourStory__title,
	.ourGoals__title{
		font-size: 3.6rem;
	}
	.ourStory__text,
	.ourGoals__text {
		font-size: 1.8rem;
		max-width: 800px;
	}
}
.ourGoals__info{
	text-align: left;
	margin-bottom: 5rem;
}
.ourGoals__img__wrapper img{
	object-fit: cover;

}
.ourGoals__img__wrapper{
	display: grid;
	margin: 0 auto;
	max-width: 800px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row: auto;
	gap: 1rem;

}
.ourGoals__img1 {
	grid-row: 1/3;
}
@media only screen and (min-width: 768px) {
	.ourGoals__info {
		text-align: center;
	}
	.ourGoals__imgs__wrapper {
		gap: 2rem;
	}
	.ourGoals__text {
		margin: 0 auto;
	}
}
/* end ourStory and ourgoals section */